# Binarios / Ejecutables
*.exe
*.exe~
main
test_server

# Configuración y Variables de Entorno
.env
.env.*

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Datos Dinámicos / Base de datos local
db.json
balance.txt
historial.txt
inventario.txt

# VS Code y Cache
.vscode/
.cache/
.DS_Store

# Hardhat / Solidity
artifacts/
cache/
*.log
scratch/
backups/
